/*Header section*/

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.nav-tittle {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;

}

.navigation-bar li {
    list-style-type: none;
    padding-right: 40px;

}

.navigation-bar ul {
    display: flex;
    align-items: center;

}

.navigation-bar ul li a {
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;

}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-tittle {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

.banner-para {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    font-size: 20px;
    color: #FFF;
    font-weight: 600px;
    text-align: center;
    border: 0;
}

.banner-image img {
    width: 100%;
    width: 100%;
    margin: 50px auto;
}

/*body styling*/
main {
    max-width: 1440px;
    margin: 0 auto;
}

.body-1 {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0;
}

.img-container img {
    display: block;
    margin-bottom: 10px;
    width: 100%;

}

.img-container img:hover {
    border: 2px solid blue;
    border-radius: 20px;
}

.img-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto 0;
}

.body-tittle {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.body-para {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 537px;
}

.text-container {
    margin: auto 0;
}

.body-container {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.body-caption {
    color: #727272;
    font-size: 16px;


}


/*body-2*/

.body-2 {
    height: 100%;
    margin-top: 130px;
    display: flex;
    width: 80%;
    margin: 0 auto;

}

.body-2-para {
    width: 45%;
}

.body-container {
    width: 45%;
    height: 171px;
}


.body-section-tittle {
    color: #FFF;
    text-align: center;
    font-size: 65px;


}

#body-sectionn p {
    color: #FFF;
    text-align: center;
    font-size: 25px;

}

.body-2-para {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.body-2-tittle {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    width: 468px;
}

.section-tittle {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.text-lightgray {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

/*fact section*/
.fact-card-container {
    display: flex;
    justify-content: space-around;
}

.fact-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;

}

.fact-card-container .card-state {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fact-card-container .card-tittle {
    font-weight: 600;
    color: rgb(161, 155, 155);
    font-size: 1.25rem;
    margin-top: 5px;
}

.sponsor {
    text-align: center;
}

.sponsor-image {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.sponsor-image img {
    width: 165px;
}

/*Responsive media query for mobile*/

@media screen and (max-width: 576px) {
    .header {
        padding: 20px;
    }
    .nav-tittle {
        font-size: 16px;
        font-weight:100px;
        text-align: center;
        
    }
    .banner-tittle {
        font-size:16px;
        font-weight:100;
        text-align: center;
    }
    .navigation-bar {
        flex-direction: column;
    }

    .navigation-bar ul{
        flex-direction: column;
        align-items: center;
    }

    .navigation-bar li {

        padding-right: 20px;
    }

    .navigation-bar ul li a {
        font-size: 12px;
        font-weight: 200px;
        line-height: 15px;

    }

    header {
        padding: 5px;
        margin: 0;
    }

    .banner-tittle {
        font-size: 25px;
        font-weight: 100px;
    }

    .banner-para {
        font-size: 16px;
        font-weight: 200;
    }

    /*body part*/
    .body-1 {
        flex-direction: column;
        padding: 5px;
    }

    .img-container {
        flex-direction: column;
    }

    .body-para {
        width: 100%;
    }

    .fact-card-container {
        flex-direction: column;
        gap: 20px;
    }

    .sponsor-tittle {
        color: #131313;
        font-size: 45px;
        font-weight: 700;
        padding: 0 auto;

    }

    .sponsor-image {
        flex-direction: column;

    }

    .body-2 {
        flex-direction: column;
        align-items: center;
    }

    .body-2 img {
        width: 100%;
    }

    .body-2-tittle {
        font-size: 16px;
        font-weight:100px;
        width: 100px;
    }
    .body-container {
        width:100%;
        height:auto;
    }

}

/*media query for medium device*/

@media screen and (min-width: 576px) and (max-width: 1015px) {
    header {
        padding: 20px;
    }

    .navigation-bar {
        flex-direction: column;
        justify-content: center;
    }

    /*body part*/
    .body-1 {
        flex-direction: column;
        padding: 5px;
    }

    .body-para {
        width: 100%;
    }

    .sponsor-image {
        flex-direction: column;
    }
    .body-2 {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .body-2 img{
        width: 100%;
    }

}